In [1]:
import pandas as pd
import pylab as pl
import numpy as np

In [2]:
df = pd.read_csv('Information.csv')

In [3]:
df

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,41406.075,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,658730000000000000,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,40918.5770833333,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,‰ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,658730000000000000,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,658730000000000000,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,40123.94375,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,658730000000000000,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,658730000000000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0,42132.8861111111,...,https://pbs.twimg.com/profile_images/656793310...,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",NaN,783,10/26/15 13:20,658740000000000000,Verona ‰ªÁ,NaN
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0,8/15/12 21:17,...,https://pbs.twimg.com/profile_images/639815429...,0,0,Greg Hardy you a good player and all but don't...,NaN,13523,10/26/15 12:40,658730000000000000,"Kansas City, MO",NaN
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0,40977.0534722222,...,https://pbs.twimg.com/profile_images/655473271...,0,C0DEED,You can miss people and still never want to se...,NaN,26419,10/26/15 13:20,658740000000000000,Lagos Nigeria,NaN
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0,41071.9902777778,...,https://pbs.twimg.com/profile_images/657716093...,0,0,@bitemyapp i had noticed your tendency to pee ...,NaN,56073,10/26/15 12:40,658730000000000000,Texas Hill Country,NaN
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0,4/14/14 17:22,...,https://pbs.twimg.com/profile_images/655134724...,0,C0DEED,I think for my APUSH creative project I'm goin...,NaN,2922,10/26/15 13:19,658740000000000000,NaN,NaN

In [4]:
df.head(20)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,41406.075,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,658730000000000000,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,40918.5770833333,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,‰ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,658730000000000000,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,658730000000000000,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,40123.94375,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,658730000000000000,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,658730000000000000,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,40485.7597222222,...,https://pbs.twimg.com/profile_images/656336865...,0,0,"Ive seen people on the train with lamps, chair...",NaN,20036,10/26/15 12:40,658730000000000000,New York Gritty,Central Time (US & Canada)
6,815719232,False,finalized,3,10/27/15 1:57,brand,1.0000,yes,1.0,4/24/08 13:03,...,https://pbs.twimg.com/profile_images/528547133...,0,0,@BpackEngineer Thank you for your patience whi...,NaN,13354,10/26/15 12:40,658730000000000000,Worldwide,Eastern Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,40980.9125,...,https://pbs.twimg.com/profile_images/508875440...,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,NaN,112117,10/26/15 12:40,658730000000000000,NaN,NaN
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,42225.2013888889,...,https://pbs.twimg.com/profile_images/658670112...,0,0,=@_Aphmau_ the pic defines all mcd fangirls/fa...,NaN,482,10/26/15 12:40,658730000000000000,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,https://pbs.twimg.com/profile_images/513327289...,0,FFFFFF,@Evielady just how lovely is the tree this yea...,NaN,26085,10/26/15 12:40,658730000000000000,"Nottingham, England.",Amsterdam
10,815719236,False,finalized,3,10/26/15 23:17,brand,0.7002,yes,1.0,11/16/11 17:14,...,https://pbs.twimg.com/profile_images/653518467...,0,C0DEED,how are you taking care of yourself? https://t...,NaN,5179,10/26/15 12:40,658730000000000000,New York,Atlantic Time (Canada)
11,815719237,False,finalized,3,10/26/15 22:33,brand,1.0000,yes,1.0,2/22/15 20:06,...,https://pbs.twimg.com/profile_images/569710046...,0,C0DEED,MTG Deals 1x Rank-Up-Magic - The Seventh One -...,NaN,66684,10/26/15 12:40,658730000000000000,NaN,Pacific Time (US & Canada)
12,815719238,False,finalized,3,10/26/15 22:20,female,0.6509,yes,1.0,41190.2118055556,...,https://pbs.twimg.com/profile_images/651227967...,0,FFFFFF,Just put my ass on the line for you and this i...,NaN,13585,10/26/15 12:40,658730000000000000,NaN,Atlantic Time (Canada)
13,815719239,False,finalized,3,10/26/15 23:29,brand,1.0000,yes,1.0,40913.9263888889,...,https://pbs.twimg.com/profile_images/218371551...,0,181A1E,https://t.co/z4sbWUugd8 What the Nation Will B...,NaN,199466,10/26/15 12:40,658730000000000000,America Credit,Pacific Time (US & Canada)
14,815719240,False,finalized,3,10/27/15 1:29,female,0.6501,yes,1.0,41429.6465277778,...,https://pbs.twimg.com/profile_images/655943646...,0,FFFFFF,will i even need sound effects for the diviner...,NaN,18469,10/26/15 12:40,658730000000000000,row b seat 104,Atlantic Time (Canada)
15,815719241,False,finalized,3,10/27/15 1:50,female,1.0000,yes,1.0,42073.8972222222,...,https://pbs.twimg.com/profile_images/650530183...,0,C0DEED,https://t.co/EROGWTFTYo It's a glow of satisfa...,NaN,44421,10/26/15 12:40,658730000000000000,NaN,NaN
16,815719242,False,finalized,3,10/26/15 23:43,female,1.0000,yes,1.0,8/27/11 9:42,...,https://pbs.twimg.com/profile_images/625025152...,0,EEEEEE,@giannaaa28 lmao _Ù÷â_Ù÷â dude I'm hella scare...,NaN,16627,10/26/15 12:40,658730000000000000,NaN,Arizona
17,815719243,False,finalized,3,10/26/15 22:50,male,1.0000,yes,1.0,10/18/09 11:41,...,https://pbs.twimg.com/profile_images/613850179...,0,C0DEED,@coolyazzy94 Ditto - I'm still learning the fa...,NaN,91,10/26/15 12:40,658730000000000000,Glasgow,London
18,815719244,False,finalized,3,10/27/15 1:42,male,1.0000,yes,1.0,7/20/15 12:01,...,https://pbs.twimg.com/profile_images/623207306...,0,C0DEED,@CaribBros @JstSaleem I do but I don't underst...,NaN,13,10/26/15 12:40,658730000000000000,NaN,NaN
19,815719245,False,finalized,3,10/26/15 22:19,unknown,0.3527,yes,1.0,1/30/15 9:52,...,https://pbs.twimg.com/profile_images/647529821...,0,0,"Me too, saw five lionesses drinking around the...",NaN,2398,10/26/15 12:40,658730000000000000,NaN,NaN

In [5]:
df.tail(20)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
20030,815755552,True,golden,273,NaN,brand,1.0000,yes,1.0,9/18/13 16:30,...,https://pbs.twimg.com/profile_images/378800000...,0,0,The White House Is Ready For Tech To Step Up I...,NaN,723,10/26/15 12:40,658730000000000000,Greater Washington DC,Atlantic Time (Canada)
20031,815755604,True,golden,242,NaN,male,1.0000,yes,1.0,11/22/11 22:41,...,https://pbs.twimg.com/profile_images/474040421...,0,C0DEED,Bun B saving kids and Ribs!!!...Not all heroes...,NaN,590,10/26/15 13:19,658740000000000000,Houston,NaN
20032,815755689,True,golden,260,NaN,male,1.0000,yes,1.0,5/15/09 20:04,...,https://pbs.twimg.com/profile_images/631251356...,0,C0DEED,@legobutts you can do quests and kill stuff wh...,NaN,14165,10/26/15 13:20,658740000000000000,NaN,Quito
20033,815755763,True,golden,239,NaN,female,0.8431,yes,1.0,42218.7430555556,...,https://pbs.twimg.com/profile_images/648013424...,0,0,i finally read blood of olympus and now that m...,NaN,5284,10/26/15 13:20,658740000000000000,brazil,NaN
20034,815755825,True,golden,264,NaN,brand,1.0000,yes,1.0,7/21/11 11:30,...,https://pbs.twimg.com/profile_images/461602825...,0,C0DEED,View the Community Halloween Spooktacular @Cit...,NaN,2851,10/26/15 12:40,658730000000000000,Raleigh NC,Eastern Time (US & Canada)
20035,815755887,True,golden,270,NaN,female,1.0000,yes,1.0,5/14/10 9:44,...,https://pbs.twimg.com/profile_images/608774064...,0,FFFFFF,Beetlejuice is the perfect Halloween movie!!!!...,NaN,7004,10/26/15 12:39,658730000000000000,"Raleigh, North Carolina",Atlantic Time (Canada)
20036,815756011,True,golden,264,NaN,female,0.9622,yes,1.0,41678.4298611111,...,https://pbs.twimg.com/profile_images/652881466...,0,C0DEED,@ItsLeeHinchy #LeesQANDA what's the story in b...,NaN,3094,10/26/15 12:40,658730000000000000,Yorkshire,NaN
20037,815756103,True,golden,259,NaN,male,1.0000,yes,1.0,11/27/07 13:10,...,https://pbs.twimg.com/profile_images/301147383...,0,FFFFFF,=@TrentWalton @oguzbilgic spell it OUT in all-...,NaN,9092,10/26/15 13:19,658740000000000000,"Brooklyn, NY",Eastern Time (US & Canada)
20038,815756269,True,golden,237,NaN,brand,0.8397,yes,1.0,1/16/12 21:21,...,https://pbs.twimg.com/profile_images/178366208...,0,C0DEED,Jon Stewart's Animal Sanctuary And Educational...,NaN,7083,10/26/15 13:19,658740000000000000,NaN,NaN
20039,815756332,True,golden,227,NaN,female,1.0000,yes,1.0,2/21/12 18:36,...,https://pbs.twimg.com/profile_images/631301797...,0,C0DEED,Especially when all you do is the best you can...,NaN,2034,10/26/15 12:39,658730000000000000,NaN,NaN
20040,815756417,True,golden,253,NaN,male,0.8472,yes,1.0,8/16/13 14:48,...,https://pbs.twimg.com/profile_images/557215663...,0,0,Discovered it in England. It's how they eat fi...,NaN,3084,10/26/15 13:19,658740000000000000,"Houston, Texas",Central Time (US & Canada)
20041,815756542,True,golden,252,NaN,brand,1.0000,yes,1.0,40855.4173611111,...,https://pbs.twimg.com/profile_images/149016810...,0,C0DEED,For Stan and Lisa... has #Coffee Cup at https:...,NaN,105864,10/26/15 13:19,658740000000000000,Colorado,Mountain Time (US & Canada)
20042,815756642,True,golden,212,NaN,brand,0.6364,yes,1.0,41857.7965277777,...,https://pbs.twimg.com/profile_images/616770699...,0,948C75,Best Bloody Mary Brunch at the #NYCWFF @nyceff...,NaN,5900,10/26/15 12:40,658730000000000000,"Miami, FL",Eastern Time (US & Canada)
20043,815756700,True,golden,240,NaN,male,1.0000,yes,1.0,9/27/11 0:19,...,https://pbs.twimg.com/profile_images/378800000...,1,5ED4DC,"Game faggot and venison loin, crisp spelt and ...",NaN,8193,10/26/15 13:19,658740000000000000,Chertsey Bridge,NaN
20044,815756767,True,golden,227,NaN,female,1.0000,yes,1.0,41949.0798611111,...,https://pbs.twimg.com/profile_images/643483977...,0,C0DEED,Need A Ride Home From Practice _Ù÷Ô_Ù÷Ô_Ù÷ÔAnd...,NaN,6669,10/26/15 13:19,658740000000000000,NaN,NaN
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0,42132.8861111111,...,https://pbs.twimg.com/profile_images/656793310...,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",NaN,783,10/26/15 13:20,658740000000000000,Verona ‰ªÁ,NaN
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0,8/15/12 21:17,...,https://pbs.twimg.com/profile_images/639815429...,0,0,Greg Hardy you a good player and all but don't...,NaN,13523,10/26/15 12:40,658730000000000000,"Kansas City, MO",NaN
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0,40977.0534722222,...,https://pbs.twimg.com/profile_images/655473271...,0,C0DEED,You can miss people and still never want to se...,NaN,26419,10/26/15 13:20,658740000000000000,Lagos Nigeria,NaN
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0,41071.9902777778,...,https://pbs.twimg.com/profile_images/657716093...,0,0,@bitemyapp i had noticed your tendency to pee ...,NaN,56073,10/26/15 12:40,658730000000000000,Texas Hill Country,NaN
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0,4/14/14 17:22,...,https://pbs.twimg.com/profile_images/655134724...,0,C0DEED,I think for my APUSH creative project I'm goin...,NaN,2922,10/26/15 13:19,658740000000000000,NaN,NaN

In [6]:
df.describe()

,_unit_id,_trusted_judgments,gender:confidence,profile_yn:confidence,fav_number,retweet_count,tweet_count,tweet_id
count,2.005000e+04,20050.000000,20024.000000,20050.000000,20050.000000,20050.000000,2.005000e+04,2.005000e+04
mean,8.157294e+08,3.615711,0.882756,0.993221,4382.201646,0.079401,3.892469e+04,6.587350e+17
std,6.000801e+03,12.331890,0.191403,0.047168,12518.575919,2.649751,1.168371e+05,5.000124e+12
min,8.157192e+08,3.000000,0.000000,0.627200,0.000000,0.000000,1.000000e+00,6.587300e+17
25%,8.157243e+08,3.000000,0.677800,1.000000,11.000000,0.000000,2.398000e+03,6.587300e+17
50%,8.157294e+08,3.000000,1.000000,1.000000,456.000000,0.000000,1.144150e+04,6.587300e+17
75%,8.157345e+08,3.000000,1.000000,1.000000,3315.500000,0.000000,4.002750e+04,6.587400e+17
max,8.157580e+08,274.000000,1.000000,1.000000,341621.000000,330.000000,2.680199e+06,6.587400e+17

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  gender_gold            50 non-null     object
 13  link_color             20050 non-null  object
 14  name                   20050 non-null  object
 15  profile_yn_gold        50 non-null     object
 16  profileimage           20050 non-null  object
 17  retweet_count          20050 non-null  int64
 18  sidebar_color          20050 non-null  object
 19  text                   20050 non-null  object
 20  tweet_coord            159 non-null    object
 21  tweet_count            20050 non-null  int64
 22  tweet_created          20050 non-null  object
 23  tweet_id               20050 non-null  int64
 24  tweet_location         12566 non-null  object
 25  user_timezone          12252 non-null  object
dtypes: bool(1), float64(2), int64(6), object(17)
memory usage: 3.8+ MB

In [8]:
df.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [9]:
df.describe().columns

Index(['_unit_id', '_trusted_judgments', 'gender:confidence',
       'profile_yn:confidence', 'fav_number', 'retweet_count', 'tweet_count',
       'tweet_id'],
      dtype='object')

In [10]:
# Q.1 What is the sum of favourite numbers of males?
maledf = df[df['gender']=='male']
maledf

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,41406.075,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,658730000000000000,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,40918.5770833333,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,‰ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,658730000000000000,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,658730000000000000,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,40123.94375,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,658730000000000000,"Palo Alto, CA",Pacific Time (US & Canada)
7,815719233,False,finalized,3,10/26/15 23:48,male,1.0000,yes,1.0,40980.9125,...,https://pbs.twimg.com/profile_images/508875440...,0,C0DEED,Gala Bingo clubs bought for å£241m: The UK's l...,NaN,112117,10/26/15 12:40,658730000000000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20037,815756103,True,golden,259,NaN,male,1.0000,yes,1.0,11/27/07 13:10,...,https://pbs.twimg.com/profile_images/301147383...,0,FFFFFF,=@TrentWalton @oguzbilgic spell it OUT in all-...,NaN,9092,10/26/15 13:19,658740000000000000,"Brooklyn, NY",Eastern Time (US & Canada)
20040,815756417,True,golden,253,NaN,male,0.8472,yes,1.0,8/16/13 14:48,...,https://pbs.twimg.com/profile_images/557215663...,0,0,Discovered it in England. It's how they eat fi...,NaN,3084,10/26/15 13:19,658740000000000000,"Houston, Texas",Central Time (US & Canada)
20043,815756700,True,golden,240,NaN,male,1.0000,yes,1.0,9/27/11 0:19,...,https://pbs.twimg.com/profile_images/378800000...,1,5ED4DC,"Game faggot and venison loin, crisp spelt and ...",NaN,8193,10/26/15 13:19,658740000000000000,Chertsey Bridge,NaN
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0,8/15/12 21:17,...,https://pbs.twimg.com/profile_images/639815429...,0,0,Greg Hardy you a good player and all but don't...,NaN,13523,10/26/15 12:40,658730000000000000,"Kansas City, MO",NaN
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0,40977.0534722222,...,https://pbs.twimg.com/profile_images/655473271...,0,C0DEED,You can miss people and still never want to se...,NaN,26419,10/26/15 13:20,658740000000000000,Lagos Nigeria,NaN

In [11]:
total_male_favnum = maledf['fav_number'].sum()
print("The total of male favourite numbers is : ", total_male_favnum)

The total of male favourite numbers is :  30342982

In [12]:
# Q.2 Which gender (male or female) has maximum total number of tweet counts?
femaledf = df[df['gender']=='female']
femaledf

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,658730000000000000,NaN,NaN
5,815719231,False,finalized,3,10/27/15 1:47,female,1.0000,yes,1.0,40485.7597222222,...,https://pbs.twimg.com/profile_images/656336865...,0,0,"Ive seen people on the train with lamps, chair...",NaN,20036,10/26/15 12:40,658730000000000000,New York Gritty,Central Time (US & Canada)
8,815719234,False,finalized,3,10/27/15 1:52,female,1.0000,yes,1.0,42225.2013888889,...,https://pbs.twimg.com/profile_images/658670112...,0,0,=@_Aphmau_ the pic defines all mcd fangirls/fa...,NaN,482,10/26/15 12:40,658730000000000000,NaN,NaN
9,815719235,False,finalized,3,10/27/15 1:49,female,1.0000,yes,1.0,5/13/11 3:32,...,https://pbs.twimg.com/profile_images/513327289...,0,FFFFFF,@Evielady just how lovely is the tree this yea...,NaN,26085,10/26/15 12:40,658730000000000000,"Nottingham, England.",Amsterdam
12,815719238,False,finalized,3,10/26/15 22:20,female,0.6509,yes,1.0,41190.2118055556,...,https://pbs.twimg.com/profile_images/651227967...,0,FFFFFF,Just put my ass on the line for you and this i...,NaN,13585,10/26/15 12:40,658730000000000000,NaN,Atlantic Time (Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20039,815756332,True,golden,227,NaN,female,1.0000,yes,1.0,2/21/12 18:36,...,https://pbs.twimg.com/profile_images/631301797...,0,C0DEED,Especially when all you do is the best you can...,NaN,2034,10/26/15 12:39,658730000000000000,NaN,NaN
20044,815756767,True,golden,227,NaN,female,1.0000,yes,1.0,41949.0798611111,...,https://pbs.twimg.com/profile_images/643483977...,0,C0DEED,Need A Ride Home From Practice _Ù÷Ô_Ù÷Ô_Ù÷ÔAnd...,NaN,6669,10/26/15 13:19,658740000000000000,NaN,NaN
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0,42132.8861111111,...,https://pbs.twimg.com/profile_images/656793310...,0,C0DEED,"@lookupondeath ...Fine, and I'll drink tea too...",NaN,783,10/26/15 13:20,658740000000000000,Verona ‰ªÁ,NaN
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0,41071.9902777778,...,https://pbs.twimg.com/profile_images/657716093...,0,0,@bitemyapp i had noticed your tendency to pee ...,NaN,56073,10/26/15 12:40,658730000000000000,Texas Hill Country,NaN
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0,4/14/14 17:22,...,https://pbs.twimg.com/profile_images/655134724...,0,C0DEED,I think for my APUSH creative project I'm goin...,NaN,2922,10/26/15 13:19,658740000000000000,NaN,NaN

In [13]:
male_twct = maledf['tweet_count'].sum()
male_twct

196947006

In [14]:
female_twct = femaledf['tweet_count'].sum()
female_twct

182821554

In [15]:
print("Males have higher total tweet count.")

Males have higher total tweet count.

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  gender_gold            50 non-null     object
 13  link_color             20050 non-null  object
 14  name                   20050 non-null  object
 15  profile_yn_gold        50 non-null     object
 16  profileimage           20050 non-null  object
 17  retweet_count          20050 non-null  int64
 18  sidebar_color          20050 non-null  object
 19  text                   20050 non-null  object
 20  tweet_coord            159 non-null    object
 21  tweet_count            20050 non-null  int64
 22  tweet_created          20050 non-null  object
 23  tweet_id               20050 non-null  int64
 24  tweet_location         12566 non-null  object
 25  user_timezone          12252 non-null  object
dtypes: bool(1), float64(2), int64(6), object(17)
memory usage: 3.8+ MB

In [17]:
df.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'gender', 'gender:confidence', 'profile_yn',
       'profile_yn:confidence', 'created', 'description', 'fav_number',
       'gender_gold', 'link_color', 'name', 'profile_yn_gold', 'profileimage',
       'retweet_count', 'sidebar_color', 'text', 'tweet_coord', 'tweet_count',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [18]:
df.describe().columns

Index(['_unit_id', '_trusted_judgments', 'gender:confidence',
       'profile_yn:confidence', 'fav_number', 'retweet_count', 'tweet_count',
       'tweet_id'],
      dtype='object')

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['_golden2'] = le.fit_transform(df['_golden'])
df['_unit_state2'] = le.fit_transform(df['_unit_state'])
df['name2'] = le.fit_transform(df['name'])

df['gender2'] = df['tweet_count']
for i in range(20050):
    if(df['gender'][i] == 'male'):
        df['gender2'][i] = 0
    elif(df['gender'][i] =='female'):
        df['gender2'][i] = 1
    else:
        df['gender2'][i] = 2
        
for i in range(20050):
    if(df['gender:confidence'][i]==' '):
        df['gender:confidence'][i] = 0
df['gender:confidence2'] = le.fit_transform(df['gender:confidence'])
    
df

<ipython-input-19-16ac08c7b1b6>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender2'][i] = 0
<ipython-input-19-16ac08c7b1b6>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender2'][i] = 1
<ipython-input-19-16ac08c7b1b6>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gender2'][i] = 2

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone,_golden2,_unit_state2,name2,gender2,gender:confidence2
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,41406.075,...,110964,10/26/15 12:40,658730000000000000,main; @Kan1shk3,Chennai,0,0,17159,0,922
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,40918.5770833333,...,7471,10/26/15 12:40,658730000000000000,NaN,Eastern Time (US & Canada),0,0,3229,0,922
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,5617,10/26/15 12:40,658730000000000000,clcncl,Belgrade,0,0,15258,0,561
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,40123.94375,...,1693,10/26/15 12:40,658730000000000000,"Palo Alto, CA",Pacific Time (US & Canada),0,0,12732,0,922
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,31462,10/26/15 12:40,658730000000000000,NaN,NaN,0,0,10222,1,922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,815757572,True,golden,259,NaN,female,1.0000,yes,1.0,42132.8861111111,...,783,10/26/15 13:20,658740000000000000,Verona ‰ªÁ,NaN,1,1,11903,1,922
20046,815757681,True,golden,248,NaN,male,1.0000,yes,1.0,8/15/12 21:17,...,13523,10/26/15 12:40,658730000000000000,"Kansas City, MO",NaN,1,1,2053,0,922
20047,815757830,True,golden,264,NaN,male,1.0000,yes,1.0,40977.0534722222,...,26419,10/26/15 13:20,658740000000000000,Lagos Nigeria,NaN,1,1,16726,0,922
20048,815757921,True,golden,250,NaN,female,0.8489,yes,1.0,41071.9902777778,...,56073,10/26/15 12:40,658730000000000000,Texas Hill Country,NaN,1,1,11241,1,914
20049,815757985,True,golden,249,NaN,female,1.0000,yes,1.0,4/14/14 17:22,...,2922,10/26/15 13:19,658740000000000000,NaN,NaN,1,1,6662,1,922

In [20]:
df['gender:confidence2']

0        922
1        922
2        561
3        922
4        922
        ...
20045    922
20046    922
20047    922
20048    914
20049    922
Name: gender:confidence2, Length: 20050, dtype: int64

In [21]:
X = df[['_golden2','_unit_state2','_trusted_judgments','gender:confidence2','profile_yn:confidence','fav_number','name2','retweet_count','tweet_count']].values
Y = df[['gender2']].values

In [22]:
from sklearn.model_selection import train_test_split
#Logistic Regression

In [23]:
X_train1, X_test1, Y_train1, Y_test1 = train_test_split(X, Y, train_size=0.8)

In [24]:
X_train1.shape, X_test1.shape, Y_train1.shape, Y_test1.shape

((16040, 9), (4010, 9), (16040, 1), (4010, 1))

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
LogReg = LogisticRegression()

In [27]:
LogReg.fit(X_train1, Y_train1)

C:\Users\ABCD\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [28]:
y_pred1 = LogReg.predict(X_test1)

In [29]:
from sklearn.metrics import accuracy_score

In [30]:
accuracy_score(y_pred1, Y_test1)

0.43341645885286784

In [31]:
from sklearn.metrics import classification_report, confusion_matrix

In [32]:
print(classification_report(Y_test1,y_pred1))

              precision    recall  f1-score   support

           0       0.48      0.02      0.03      1239
           1       0.38      0.81      0.52      1317
           2       0.56      0.45      0.50      1454

    accuracy                           0.43      4010
   macro avg       0.47      0.42      0.35      4010
weighted avg       0.48      0.43      0.36      4010

In [33]:
# Knn Classifier
X_train2, X_test2, Y_train2, Y_test2 = train_test_split(X, Y, train_size=0.8)

In [34]:
X_train2.shape, X_test2.shape, Y_train2.shape, Y_test2.shape

((16040, 9), (4010, 9), (16040, 1), (4010, 1))

In [35]:
from sklearn.neighbors import KNeighborsClassifier

In [36]:
knn = KNeighborsClassifier(n_neighbors=9)

In [37]:
knn

KNeighborsClassifier(n_neighbors=9)

In [38]:
knn.fit(X_train2,Y_train2)

<ipython-input-38-70b0a47e0b5c>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn.fit(X_train2,Y_train2)

KNeighborsClassifier(n_neighbors=9)

In [39]:
y_pred2 = knn.predict(X_test2)

In [40]:
accuracy_score(y_pred2, Y_test2)

0.4850374064837905

In [41]:
print(classification_report(Y_test2,y_pred2))

              precision    recall  f1-score   support

           0       0.38      0.42      0.40      1226
           1       0.48      0.46      0.47      1334
           2       0.60      0.56      0.58      1450

    accuracy                           0.49      4010
   macro avg       0.48      0.48      0.48      4010
weighted avg       0.49      0.49      0.49      4010

In [42]:
# Random Forest Classifier
X_train3, X_test3, Y_train3, Y_test3 = train_test_split(X, Y, train_size=0.8)

In [43]:
X_train3.shape, X_test3.shape, Y_train3.shape, Y_test3.shape

((16040, 9), (4010, 9), (16040, 1), (4010, 1))

In [44]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
rfc = RandomForestClassifier()

In [46]:
rfc.fit(X_train3,Y_train3)

<ipython-input-46-e1358a0e4c23>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfc.fit(X_train3,Y_train3)

RandomForestClassifier()

In [47]:
y_pred3 = rfc.predict(X_test3)

In [48]:
accuracy_score(y_pred3, Y_test3)

0.5471321695760598

In [49]:
print(classification_report(Y_test3,y_pred3))

              precision    recall  f1-score   support

           0       0.44      0.42      0.43      1244
           1       0.52      0.53      0.53      1334
           2       0.65      0.68      0.66      1432

    accuracy                           0.55      4010
   macro avg       0.54      0.54      0.54      4010
weighted avg       0.54      0.55      0.55      4010

In [50]:
# Summary
# Q.1 and Q.2 are answered. They are commented to understand what is to be done.
# The three classification algorithms implemented are Logistic Regression, Knn Classifier, and Random Forest Classifier.
# The accuracy score for each of the algorithms is calculated. The n neighbors of Knn algorithm, when kept incremented, give a 
# an accuracy of atmost 0.489 (appx.)
# However, the Random Forest Clasifier has the greatest accuracy score (above 0.50).
# So, in this context, it can be argued that the Random Forest Classifier algorithm is the best of the three.
print("Random Forest Classifier algorithm is the best of the three implemented.")

Random Forest Classifier algorithm is the best of the three implemented.